<p id="notice"><%= notice %></p>

<% if current_user %>
  <pre> Current user: <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></pre> 
<% end %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul>

  <li> To create new user you have enable user registration in user.rb (set devise: registerable), logout and then go to /users/sign_up </li>
  <br/>
  <li> <%= link_to 'Back to app', root_path+'#/cards' %> </li>
</ul>
