<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :card_type %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :card_name %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel, id: :card_tel %>
  </div>

  <div class="field">
    <%= form.label :short_tel %>
    <%= form.text_field :short_tel, id: :card_tel %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :card_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
